
<div *ngIf="resourceInstances" class="container-fluid">

    <p>Row Count: {{resourceInstances.rowCount}}</p>
    <p>Next URL: {{resourceInstances.nextUrl}}</p>
    <button *ngIf="resourceInstances.nextUrl" (click)="getInstances()">More</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">View</th>
                <th scope="col">Region</th>
                <th scope="col">State</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let resource of resourceInstances.resources; index as i">
                <td>
                    <a routerLink="/instances/{{resource.guid}}">{{resource.name}} </a>
                    <a *ngIf="resource.dashboardUrl" href="{{resource.dashboardUrl}}" target="_blank" title="View Dashboard"><i class="fas fa-external-link-alt"></i></a>
                </td>
                <td>{{resource.type}}</td>
                <td>{{resource.region}}</td>
                <td>{{resource.state}}</td>
            </tr>
        </tbody>
    </table>
    

</div>
