

<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome to my IBM Cloud Utility!</strong> You should check out the items on the nav menu above.  Try the <strong>Service Instances</strong> item on the Resources menu....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

   <div class="container-fluid d-flex h-100">	


        <div class="row justify-content-center align-self-center h-100">
            <div class="col-3">


            </div>
            <div class="col-6">

                <div class="card-deck">
                    <div class="card">
                        <img src="assets/images/services2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Services</h5>
                            <p class="card-text">View details of resource instances in your IBM Cloud account.</p>
                            <a routerLink="/instances" class="card-link">View Services</a>
                           
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/images/keys.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Key Protect</h5>
                            <p class="card-text">View details about Key Protect keys</p>
                           
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/images/users.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Event Streams</h5>
                            <p class="card-text">View configuration details for an Event Streams instance in Public.  In the future it will also include details from Message Hub in Dedicated.</p>
                            
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-3">

                
            </div>



        </div>




    </div>




