<div #loadingSpinner *ngIf="!resource" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="resource" class="container-fluid">
    <form >
        <div class="form-group row">
            <label for="resourceName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="resourceName" value="{{resource.name}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="resourceId" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="resourceId" value="{{resource.id}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="guid" class="col-sm-2 col-form-label">GUID</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="guid" value="{{resource.guid}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="region" class="col-sm-2 col-form-label">Region</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="region" value="{{resource.region}}">
            </div>
        </div>
    </form>
    <pre>{{resource | json}}</pre>
    <button (click)="goBack()">Back</button>

</div>
